body {
    margin: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
span {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}
#spacing {
    height: auto;
}
#content {
    padding: 0;
    overflow-y: scroll;
    flex-grow: 1;
}

#content img {
    width: 100%;
    height: auto;
    display: block;
}

.tabBar {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ccc;
}

.tabButton {
    flex: 1;
    padding: 14px 16px;
    cursor: pointer;
    text-align: center;
    background-color: #f1f1f1;
    border: none;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #3512d2;
}

.tabButton i {
    font-size: 20px;
    margin-bottom: 5px;
}

.tabButton:hover {
    background-color: #ddd;
}

.tabButton.active {
    background-color: #3512d2;
    color: white;
}

.tabContent {
    display: none;
    overflow-y: auto;
}
